* {

	font-family: Arial;

}

.cent {

	text-align: center;

}


.container {

	display: flex;
	justify-content: flex-start;

}

.center {

	justify-content: center;
	text-align: center;

}


.notice_title {

	display: flex;
	justify-content: space-between;
	border-bottom-style: solid;

}

.inp {

	font-size: 30px;

}

.bigbutton {

	font-size: 90px;
	text-align: center;
	color: black;
	border: none;

}

.mocha  {

	background-image: url("../_static/images/cbhs_hero.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
	border-bottom: solid;

}

.title {

	font-size: 4rem;
	margin-top: 0px;
  color: white;
  text-shadow: 2px 2px 4px #000000;

}

body, html {

	margin: 0px;
  height: 100%;
}


.date {

	text-align: center;
	font-size: 3rem;
	margin-bottom: 15px;

}

.nonotice {

	text-align: center;
	font-size: 1.5rem;

}

.ageboxbrd {

	border-style: solid;
	padding: 0.5rem;
	font-size: 1.5rem;
	box-shadow: 2px 2px 4px #000000;

}

.agebox {

	text-align: center;
	display: none;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

}

.submitbox {

	text-align: center;
	margin-top: 3rem;

}

.submitboxbrd {

	border-style: solid;
	font-size: 3rem;
	background-color: #00ff44;

}
.noticewhole {

	border-style: dashed;
	margin-left: 2rem;
	margin-right: 2rem;

}

.name {

 text-decoration: underline;


}

.title_add {


	padding-left: 0.5rem;
	padding-bottom:3rem;

}

.datefor {

	text-align: center;
	padding-bottom: 2rem;

}

.transbkg {

	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;

}

.reviewbkg {

	background-image: url('../_static/images/cbhs_hero2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #014085;
	background-position: center;
	height: 100%;

}

.loginbkg {

	background-image: url('../_static/images/login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #014085;
	background-position: center;
	height: 100%;

}

.logintransbkg {

	border-style: solid;
	padding-left: 0rem;
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;

}

.info {

	text-align: center;
	border-bottom: solid;

}
